body {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

#list {
    list-style-type: none;
    font-size: 23px;
    color: aliceblue;
    margin-right: 50px;
}

#inputsearch {
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}